<div class="wrapper">
  <div class="hero">
    <h1>Career Opportunities</h1>
    <h5>
      Weather you are looking to study at CodeFactory or you are a CodeFactory
      graduate, this page will be interesting for you.<br />
      Visit the Career Opportunities page to get a glance at the career paths
      you can take after you graduate and to read about gratuates that have
      taken this paths. Visit the Job Offers page if you are looking at starting
      to work using your diploma.
    </h5>
  </div>
  <div class="spacer"></div>
  <div class="cards">
    <div class="card-holder">
      <img src="assets/img/opportunity.jpg" alt="Image description" />
      <h4>Career opportunities</h4>
      <p>
        Explore the variety of career paths open to you as a CodeFactory
        graduate.
      </p>
      <a routerLink="/opportunities"><button>Opportunities</button></a>
    </div>
    <div class="card-holder">
      <img src="assets/img/job.jpg" alt="Image description" />
      <h4>Job Offers</h4>
      <p>
        Explore the variety of Jobs offered by the most famous companies in
        Vienna and Europe.
      </p>
      <a routerLink="/jobs"><button>Job Offers</button></a>
    </div>
  </div>
</div>
