<section class="hero-landing">
  <div class="hero-homepage">
    <div class="hero-text-box">
      <h1 class="heading-primary">
        Alumni Chronicles: <br />
        From Aspiring Coders to
        <span> Industry Trailblazers </span>
      </h1>
      <p class="hero-description">
        Unveiling the Success Stories of CodeFactory Graduates! Learn about the
        experiences of past students with us.
      </p>
      <a href="#scroll" class="btn">Learn more &darr;</a>
      <div class="alumni-banner">
        <div class="alumni-imgs">
          <img src="/assets/img/customer-1.jpg" alt="customer-photo" />
          <img src="/assets/img/customer-2.jpg" alt="customer-photo" />
          <img src="/assets/img/customer-3.jpg" alt="customer-photo" />
          <img src="/assets/img/customer-4.jpg" alt="customer-photo" />
          <img src="/assets/img/customer-5.jpg" alt="customer-photo" />
          <img src="/assets/img/customer-6.jpg" alt="customer-photo" />
        </div>
        <p class="delivered-text">
          <span>250+ students</span> had a happy coding experience!
        </p>
      </div>
    </div>
    <div class="hero-img-box">
      <img src="/assets/img/heroimg.jpg" alt="hero-img" class="hero-img" />
    </div>
  </div>
</section>
<section class="about-landing" id="scroll">
  <div class="about-text">
    <h5>About</h5>
    <h1>Who Are We?</h1>
  </div>
  <div class="cookieCard">
    <div class="cookieText">
      <p class="cookieHeading">
        Codefactory Vienna: <br /><span>Innovation Hub</span>
      </p>
      <p class="cookieDescription">
        Welcome to Codefactory Vienna, your destination for innovative coding
        solutions in the vibrant heart of the city. Our founders, driven by a
        shared passion for excellence, established our company with the vision
        of seamlessly blending cutting-edge technology with creativity.
        <br /><br />
        Inspired by Vienna's cultural richness, we have assembled a team of
        skilled professionals dedicated to pushing the boundaries of
        programming. At Codefactory Vienna, our focus is on crafting exceptional
        software experiences that elevate businesses to new heights.
      </p>
      <button class="acceptButton">Apply to be a student</button>
    </div>
    <div class="cookieImg">
      <img src="/assets/img/programmingteam.jpg" alt="" />
    </div>
  </div>
</section>
<section class="testimonials-landing">
  <div class="testimonials-text">
    <h5>Testimonials</h5>
    <h1>Hear from Our Alumni</h1>
  </div>
  <div class="flip-cards">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="/assets/img/customer-1.jpg" alt="" />
          <p class="title">Janine</p>
          <p>Head of Frontend Development</p>
        </div>
        <div class="flip-card-back">
          <p class="title">BACK</p>
          <p>Leave Me</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <p class="title">FLIP CARD</p>
          <p>Hover Me</p>
        </div>
        <div class="flip-card-back">
          <p class="title">BACK</p>
          <p>Leave Me</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <p class="title">FLIP CARD</p>
          <p>Hover Me</p>
        </div>
        <div class="flip-card-back">
          <p class="title">BACK</p>
          <p>Leave Me</p>
        </div>
      </div>
    </div>
  </div>
  <button class="testimonial-btn" routerLink="/stories">Read more</button>
</section>
<section class="events-landing">
  <div class="testimonials-text">
    <h5>Events</h5>
    <h1>Our Upcoming Events</h1>
  </div>
  <div *ngFor="let event of events" class="holder">
    <div class="card">
      <!-- <div class="card-content"> -->
      <div class="card-flex">
        <div class="card-top-img">
          <img src="{{ event.image }}" alt="{{ event.title }}" />
        </div>
        <div class="card-top-info">
          <h4>{{ event.title }}</h4>
          <p class="description">{{ event.description }}</p>
          <p><i class="fa-solid fa-calendar"></i> Date: {{ event.date }}</p>
          <p>
            <i class="fa-solid fa-location-dot"></i> Location:
            {{ event.location }} - {{ event.date }}
          </p>
          <p>
            <i class="fa-solid fa-money-bill-1"></i> Price: €
            {{ event.price }}
          </p>
          <button class="price">Apply</button>
        </div>
      </div>
    </div>
  </div>
  <button class="events-btn" routerLink="/events">See more events</button>
  <!-- </div> -->
</section>
<section class="careers-landing">
  <div class="testimonials-text">
    <h5>Careers</h5>
    <h1>Join Our Team</h1>
  </div>
</section>
