<section class="hero-landing">
  <div class="hero-homepage">
    <div class="hero-text-box">
      <h1 class="heading-primary">
        Alumni Chronicles: <br />
        From Aspiring Coders to
        <span> Industry Trailblazers </span>
      </h1>
      <p class="hero-description">
        Unveiling the Success Stories of CodeFactory Graduates! Learn about the
        experiences of past students with us.
      </p>
      <a href="#" class="btn">Learn more &darr;</a>
      <div class="alumni-banner">
        <div class="alumni-imgs">
          <img src="/assets/img/customer-1.jpg" alt="customer-photo" />
          <img src="/assets/img/customer-2.jpg" alt="customer-photo" />
          <img src="/assets/img/customer-3.jpg" alt="customer-photo" />
          <img src="/assets/img/customer-4.jpg" alt="customer-photo" />
          <img src="/assets/img/customer-5.jpg" alt="customer-photo" />
          <img src="/assets/img/customer-6.jpg" alt="customer-photo" />
        </div>
        <p class="delivered-text">
          <span>250+ students</span> had a happy coding experience!
        </p>
      </div>
    </div>
    <div class="hero-img-box">
      <img src="/assets/img/heroimg.jpg" alt="hero-img" class="hero-img" />
    </div>
  </div>
</section>
