<div class="wrapper">
  <div class="hero">
    <h1>Career Opportunities</h1>
    <h5>
      How do you visualize your future after graduate school? Your graduate
      school experience has given you a solid foundation for advancing your
      career path, whether that career is as a faculty member or in a wide array
      of exciting opportunities in the private sector or in public service. Your
      graduate degree and the experiences you’ve encountered throughout graduate
      school will add value to any organization you join. You will leave
      CodeFactory equipped with highly developed skills in FrontEnd, BackEnd,
      Web Design – just to name a few.
    </h5>
  </div>
  <div class="spacer"></div>
  <h5>Jump to a specific Career Sector</h5>
  <div class="buttons">
    <a href="#fullstack"><button>Full Stack</button></a>
    <a href="#python"><button>Python</button></a>
    <a href="#java"><button>JavaScript</button></a>
  </div>
  <div class="section">
    <div class="career"></div>
    <div class="graduates"></div>
  </div>
</div>
