<header class="header">
    <nav class="navbar">

        <img src="../../assets/img/logoblack.png" alt="" class="nav-image-container">

        <div class="nav-links">
            <a routerLink="/">Home</a>
            <a routerLink="/alumni-dircetory">Alumni directory</a>
            <a routerLink="/stories">Stories</a>
            <a routerLink="/events">Events</a>
            <a routerLink="/careers">Careers</a>
            <a routerLink="/contact"><button>Contact US</button></a>
        </div>
    </nav>
</header>