:host {
    .header {
        height: 9rem;
    }

    .navbar {
        // width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 4rem;
        position: sticky;
        background: var(--background);
    }

    .nav-image-container {

        height: 5rem;

        img {
            width: 100%;
        }
    }

    .nav-links {

        margin: 1rem;
        padding: 1rem;
        font-size: 1.6rem;
        display: flex;
        gap: 3.6rem;
        // justify-content: space-around;
        align-items: center;

        a {
            transition: all 0.3s ease-in;
            text-decoration: none;
            color: var(--text);

            &:hover {
                color: var(--hoverLinks);

            }
        }

        button {
            border-radius: 9px;
            background-color: var(--buttonbackground);
            border: none;
            padding: 1.2rem 2.4rem;
            color: white;
            font-weight: 600;
            &:hover {
                background-color: var(--buttonbackgroundHover);
            }
        }

    }


}