<button
  class="to-top"
  onClick="document.getElementById('top').scrollIntoView({behavior: 'smooth'});"
  [ngClass]="{ 'show-scrollTop': windowScrolled }"
>
  <img class="up" src="assets/img/up-arrow.png" alt="" />
</button>

<div class="hero">
  <h3>
    <span class="colored">From design virtuosos to algorithmic maestros</span>,
    their journeys reflect the diversity and dynamism of the tech world.
  </h3>
  <h4>
    Join us as we celebrate their achievements and the indelible mark they leave
    on the ever-evolving landscape of technology.
  </h4>
</div>
<div class="alumnis">
  <div class="person" *ngFor="let person of alumni">
    <div class="person-text">
      <h3>{{ person.name }}</h3>
      <p>{{ person.title }}</p>
      <button class="open" (click)="myDialog.showModal()">Details</button>
    </div>
    <img class="person-img" src="{{ person.picture }}" alt="" />
    <dialog #myDialog>
      <button class="close" (click)="myDialog.close()">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <div class="dialog-main">
        <div class="dialog-text">
          <h5>{{ person.dialog_text }}</h5>
        </div>
        <div class="table">
          <table>
            <tr>
              <th>Course</th>
              <td>{{ person.course }}</td>
            </tr>
            <tr>
              <th>Frontend</th>
              <td>{{ person.frontend }}</td>
            </tr>
            <tr>
              <th>Backend</th>
              <td>{{ person.backend }}</td>
            </tr>
            <tr>
              <th>UI/UX</th>
              <td>{{ person.uiux }}</td>
            </tr>
            <tr>
              <th>Data Management</th>
              <td>{{ person.data }}</td>
            </tr>
          </table>
        </div>
      </div>
    </dialog>
  </div>
</div>
