@use 'mediaquery' as md;
:host{

    .hero{
        padding: 50px;
        margin-bottom: 45px;
        background-color: rgba(255, 244, 230, 0.952);

        .colored{
            color: #993600;
        }
    }
    .alumnis{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .person{
            margin: 50px;
            display: flex;
            justify-content: space-between;
            width: 35%;
            height: 300px;
            align-items: center;
            border: solid 1px coral;
            border-radius: 9px;
            background-color: #FFF4E6;
            position: relative;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            .open{
                border-radius: 9px;
                background-color: var(--buttonbackground);
                border: none;
                padding: 1.2rem 2.4rem;
                color: white;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    background-color: var(--buttonbackgroundHover);
                }
            }

            .person-img{
                position: absolute;
                bottom: 0;
                right: 0;
                height: 40rem;
            }

            .person-text{
                text-align: center;
                width: 40%;
            }
        }

        dialog{
            position: fixed;
            z-index: 1;
            top: 15%;
            left: 15%;
            width: 70%;
            height: 70vh;
            border-radius: 9px;
            border: 1px solid coral ;

            .dialog-main{
                display: flex;
                align-items: center;
                font-size: 2em;
                height: 90%;
                padding: 20px;

                .dialog-text{
                    padding: 20px;
                    width: 40%;
                    text-align: center;
                    
                }

                .table{
                    width: 60%;
                    table{
                        border: solid 1px coral;
                        border-radius: 9px;
                        width: 100%;
                        th, td{
                            padding: 10px 20px;
                            text-align: center;
                        }
                        th{
                            border-radius: 9px;
                            background-color: #E8590C;
                            color: white;
                        }
                        td{
                            border-radius: 9px;
                            background-color: rgba(255, 244, 230, 0.952);
                        }
                    }
                }

            }
            .close{
                height: 40px;
                width: 40px;
                border-radius: 25px;
                background-color: var(--buttonbackground);
                border: none;
                color: white;
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: var(--buttonbackgroundHover);
                }
            }
            &::backdrop {
                background-color: #fff4e600;
                backdrop-filter: blur(4px);
            }
        }
        @include md.medium-screen;
        @include md.small-screen;
        @include md.for-iphone5;
    }

    button {
        margin-top: 0.5rem;
        border-radius: 9px;
        background-color: var(--buttonbackground);
        border: none;
        color: white;
        font-weight: 600;
      
        &:hover {
          cursor: pointer;
          background-color: var(--buttonbackgroundHover);
        }
      }
      
    .to-top {
        width: 7rem;
        height: 7rem;
        bottom: 0;
        cursor: pointer;
        margin: 0 20px 20px 0;
        position: fixed;
        z-index: 1;
        right: 0;
        opacity: 0;
        border-radius: 190px;
      }
      
      .show-scrollTop {
        opacity: 1 !important;
        transition: all 0.2s ease-in-out;
      }
      
      .up {
        width: 20px;
      }
}