<button
  class="to-top"
  onClick="document.getElementById('top').scrollIntoView({behavior: 'smooth'});"
  [ngClass]="{ 'show-scrollTop': windowScrolled }"
>
  <img class="up" src="assets/img/up-arrow.png" alt="" />
</button>
<section class="hero-stories">
  <div class="hero-text">
    <h1>Stories of our Alumnis</h1>
    <p>
      Read about what happened to some of our alumnis after their time at the
      CodeFactory.
    </p>
  </div>
</section>
<section class="container">
  <div class="gridcontainers">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <p class="title">Aleksandar Antonov</p>
          <p>Chief Technology Officer(CTO) at Adobe</p>
          <img class="card-img" src="./assets/img/Alex.jpg" alt="Image" />
        </div>
        <div class="flip-card-back">
          <p class="title">
            "Empower creativity, innovate relentlessly, and let passion fuel the
            journey to succes."-Aleksandar Antonov
          </p>
          <p>
            Aleksandar Antonov, once a Code Factory apprentice in Vienna, now
            reigns as Adobe's Chief Technology Officer. His ascent from humble
            beginnings underscores his unwavering dedication and expertise.
            Fueling his journey is an unyielding passion for photography and
            digital art, igniting innovation at every step. Through diligence
            and perseverance, Antonov epitomizes the fusion of tech prowess and
            artistic fervor, shaping Adobe's future with boundless creativity.
          </p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <p class="title">Liza Kata Kovacs</p>
          <p>Global Design Director at IDEO</p>
          <img class="card-img" src="./assets/img/Liza.jpg" alt="Image" />
        </div>
        <div class="flip-card-back">
          <p class="title">
            "Life's too short for boring code! Embrace the bugs, laugh at the
            errors, and always remember to Ctrl+S your dreams."
          </p>
          <p>
            Liza Kata Kovacs, IDEO's Global Design Director, once a CodeFactory
            student, now leads with innovation. Her journey, propelled by
            passion, epitomizes perseverance. From coding roots, she climbed to
            the pinnacle of design. With creativity as her compass, Kovacs
            transforms visions into reality, inspiring others to dare and dream.
            In her world, every challenge is an opportunity, and every creation
            a masterpiece, shaping tomorrow with boundless imagination.
          </p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <p class="title">Benedikt Wychert</p>
          <p>Chief Scientist Open AI</p>
          <img class="card-img" src="./assets/img/Ben.jpg" alt="Image" />
        </div>
        <div class="flip-card-back">
          <p class="title">
            "Success isn't merely a destination; it's the culmination of
            passion, persistence, and an unwavering commitment to push the
            boundaries of what's possible." - Benedikt Wychert
          </p>
          <p>
            Benedikt Wychert, once our student, now shines as OpenAI's Chief
            Scientist. His journey, marked by relentless dedication, exemplifies
            the power of perseverance. Fueled by passion, he ascended to
            remarkable heights, unlocking groundbreaking achievements along the
            way. From humble beginnings to extraordinary success, Wychert's
            story inspires the next generation of innovators, proving that with
            hard work and determination, anything is possible in the world of
            technology.
          </p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <p class="title">Boris Vlaovic Kovacev</p>
          <p>NASA Chief Software Engineer</p>
          <img class="card-img" src="./assets/img/Boris.jpg" alt="Image" />
        </div>
        <div class="flip-card-back">
          <p class="title">
            "Embrace ambitious dreams, code with relentless dedication, and
            reach for the stars with unwavering determination."
          </p>
          <p>
            Boris Vlaovic Kovacev, once a CodeFactory alum, now shines as NASA's
            esteemed Chief Software Engineer. His path, defined by unwavering
            zeal and steadfast resolve, embodies the essence of triumph. Through
            tireless effort, he scaled the heights of his profession, earning
            global recognition as a leading scientist. Kovacev's narrative
            ignites aspirations, illustrating that with resilience and
            dedication, dreams can soar beyond the stars.
          </p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <p class="title">Dacian Beniamin</p>
          <p>Chief Product Officer (CPO) at Adobe</p>
          <img class="card-img" src="./assets/img/Dacian.jpg" alt="Image" />
        </div>
        <div class="flip-card-back">
          <p class="title">
            "Stay curious, keep learning, and never forget the ones who helped
            you debug along the way."
          </p>
          <p>
            Emerging from the corridors of CodeFactory in Vienna, Dacian
            Beniamin has journeyed to the zenith of success as Adobe's Chief
            Product Officer (CPO). Driven by unyielding passion and relentless
            effort, he transformed humble beginnings into a prestigious role
            within Adobe. Beniamin's ascent exemplifies the profound impact of
            dedication and perseverance, inspiring others to embrace challenges
            as stepping stones to succes, proving that every dream, when fueled
            by determination, can become a reality.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
