<button
  class="to-top"
  onClick="document.getElementById('top').scrollIntoView({behavior: 'smooth'});"
  [ngClass]="{ 'show-scrollTop': windowScrolled }"
>
  <img class="up" src="assets/img/up-arrow.png" alt="" />
</button>

<div class="wrapper">
  <div class="hero">
    <h1>Job Offers</h1>
    <h5 class="hero-text">
      Ready to take the next leap in your career journey? Discover a diverse
      array of enticing job opportunities across industries and locations on our
      meticulously curated job offers page. Uncover your dream role and propel
      your career forward with us today!
    </h5>
  </div>
  <div class="spacer"></div>

  <div class="job">
    <div><img src="assets/img/s-team.gif" alt="" /></div>
    <div>
      <div class="title-btn">
        <div class="title">
          <h4 class="name">Full Stack Web-Developer (m/w/d)</h4>
          <p>
            s-team IT solutions - GmbH Wienna - Full-time/Part-time - Junior -
            5.3.2024
          </p>
        </div>
        <a href="https://www.karriere.at/jobs/7064467"
          ><button>To Offer</button></a
        >
      </div>
      <h5 class="hero-text">
        Become part of our team! In our family structures you can contribute and
        deepen your knowledge in a wide variety of areas. A healthy work culture
        that focuses on people and not the pressure to perform is important to
        us.
      </h5>
    </div>
  </div>

  <div class="spacer-long"></div>

  <div class="job">
    <div><img src="assets/img/s-team.gif" alt="" /></div>
    <div>
      <div class="title-btn">
        <div class="title">
          <h4 class="name">Full Stack Web-Developer (m/w/d)</h4>
          <p>
            s-team IT solutions - GmbH Wienna - Full-time/Part-time - Junior -
            5.3.2024
          </p>
        </div>
        <a href="https://www.karriere.at/jobs/7064467"
          ><button>To Offer</button></a
        >
      </div>
      <h5 class="hero-text">
        Become part of our team! In our family structures you can contribute and
        deepen your knowledge in a wide variety of areas. A healthy work culture
        that focuses on people and not the pressure to perform is important to
        us.
      </h5>
    </div>
  </div>

  <div class="spacer-long"></div>

  <div class="job">
    <div><img src="assets/img/s-team.gif" alt="" /></div>
    <div>
      <div class="title-btn">
        <div class="title">
          <h4 class="name">Full Stack Web-Developer (m/w/d)</h4>
          <p>
            s-team IT solutions - GmbH Wienna - Full-time/Part-time - Junior -
            5.3.2024
          </p>
        </div>
        <a href="https://www.karriere.at/jobs/7064467"
          ><button>To Offer</button></a
        >
      </div>
      <h5 class="hero-text">
        Become part of our team! In our family structures you can contribute and
        deepen your knowledge in a wide variety of areas. A healthy work culture
        that focuses on people and not the pressure to perform is important to
        us.
      </h5>
    </div>
  </div>

  <div class="spacer-long"></div>

  <div class="job">
    <div><img src="assets/img/s-team.gif" alt="" /></div>
    <div>
      <div class="title-btn">
        <div class="title">
          <h4 class="name">Full Stack Web-Developer (m/w/d)</h4>
          <p>
            s-team IT solutions - GmbH Wienna - Full-time/Part-time - Junior -
            5.3.2024
          </p>
        </div>
        <a href="https://www.karriere.at/jobs/7064467"
          ><button>To Offer</button></a
        >
      </div>
      <h5 class="hero-text">
        Become part of our team! In our family structures you can contribute and
        deepen your knowledge in a wide variety of areas. A healthy work culture
        that focuses on people and not the pressure to perform is important to
        us.
      </h5>
    </div>
  </div>

  <div class="spacer-long"></div>

  <div class="job">
    <div><img src="assets/img/s-team.gif" alt="" /></div>
    <div>
      <div class="title-btn">
        <div class="title">
          <h4 class="name">Full Stack Web-Developer (m/w/d)</h4>
          <p>
            s-team IT solutions - GmbH Wienna - Full-time/Part-time - Junior -
            5.3.2024
          </p>
        </div>
        <a href="https://www.karriere.at/jobs/7064467"
          ><button>To Offer</button></a
        >
      </div>
      <h5 class="hero-text">
        Become part of our team! In our family structures you can contribute and
        deepen your knowledge in a wide variety of areas. A healthy work culture
        that focuses on people and not the pressure to perform is important to
        us.
      </h5>
    </div>
  </div>

  <div class="spacer-long"></div>

  <div class="job">
    <div><img src="assets/img/s-team.gif" alt="" /></div>
    <div>
      <div class="title-btn">
        <div class="title">
          <h4 class="name">Full Stack Web-Developer (m/w/d)</h4>
          <p>
            s-team IT solutions - GmbH Wienna - Full-time/Part-time - Junior -
            5.3.2024
          </p>
        </div>
        <a href="https://www.karriere.at/jobs/7064467"
          ><button>To Offer</button></a
        >
      </div>
      <h5 class="hero-text">
        Become part of our team! In our family structures you can contribute and
        deepen your knowledge in a wide variety of areas. A healthy work culture
        that focuses on people and not the pressure to perform is important to
        us.
      </h5>
    </div>
  </div>
</div>
