<button
  class="to-top"
  onClick="document.getElementById('top').scrollIntoView({behavior: 'smooth'});"
  [ngClass]="{ 'show-scrollTop': windowScrolled }"
>
  <img class="up" src="assets/img/up-arrow.png" alt="" />
</button>

<div class="wrapper">
  <div class="hero">
    <h1>Job Offers</h1>
    <h5 class="hero-text1">
      Ready to take the next step in your career journey? Dive into our diverse
      selection of job opportunities, meticulously curated across various
      industries and locations on our job offers page. Whether you're looking
      for a new challenge or aiming to explore different career paths, we've got
      you covered. Discover the perfect role that aligns with your aspirations
      and ambitions, and begin your journey towards success with us today!
    </h5>
  </div>
  <div class="spacer"></div>
  <div class="content">
    <div class="job">
      <div><img src="assets/img/s-team.gif" alt="" /></div>
      <div>
        <div class="title-btn">
          <div class="title">
            <h4 class="name">Full Stack Web-Developer (m/w/d)</h4>
            <p>
              s-team IT solutions GmbH - Vienna - Full-time/Part-time - Junior -
              5.3.2024
            </p>
          </div>
          <a href="https://www.karriere.at/jobs/7064467" target="new"
            ><button>To Offer</button></a
          >
        </div>
        <h5 class="hero-text">
          Become part of our team! In our family structures you can contribute
          and deepen your knowledge in a wide variety of areas. A healthy work
          culture that focuses on people and not the pressure to perform is
          important to us.
        </h5>
      </div>
    </div>

    <div class="spacer-long"></div>

    <div class="job">
      <div><img src="assets/img/anexia.gif" alt="" /></div>
      <div>
        <div class="title-btn">
          <div class="title">
            <h4 class="name">Python Developer (m/w/d)</h4>
            <p>
              ANEXIA Internet Services GmbH - Vienna, Graz, Klagenfurt,
              Karlsruhe - Full-time - Mid - 2.1.2024
            </p>
          </div>
          <a href="https://www.karriere.at/jobs/7073527" target="new"
            ><button>To Offer</button></a
          >
        </div>
        <h5 class="hero-text">
          Do you like things colorful and agile, find software development to be
          one of the most beautiful tasks in the world and love working on
          challenging developer questions ? Then you've come to the right place
          in our team.
        </h5>
      </div>
    </div>

    <div class="spacer-long"></div>

    <div class="job">
      <div><img src="assets/img/asqs.png" alt="" /></div>
      <div>
        <div class="title-btn">
          <div class="title">
            <h4 class="name">Front-end Web Developer Angular (m/w/d)</h4>
            <p>
              ASQS GmbH - Vienna - Full-time/Part-time - Junior - 25.12.2023
            </p>
          </div>
          <a href="https://www.karriere.at/jobs/7089316" target="new"
            ><button>To Offer</button></a
          >
        </div>
        <h5 class="hero-text">
          ASQS is a global IT company specializing in the development of
          web-based safety and quality management software for the aviation
          industry, based in Vienna with subsidiaries in Thailand and Canada.
        </h5>
      </div>
    </div>

    <div class="spacer-long"></div>

    <div class="job">
      <div><img src="assets/img/oe.gif" alt="" /></div>
      <div>
        <div class="title-btn">
          <div class="title">
            <h4 class="name">Frontend Developer (m/w/d)</h4>
            <p>oe24.at - Vienna - Full-time/Part-time - Mid - 3.3.2024</p>
          </div>
          <a href="https://www.karriere.at/jobs/7082833" target="new"
            ><button>To Offer</button></a
          >
        </div>
        <h5 class="hero-text">
          The media group around the oe24 network is one of the young and
          dynamic players on the domestic market. With a newly established
          internal structure, flat hierarchies and a young management team.
        </h5>
      </div>
    </div>

    <div class="spacer-long"></div>

    <div class="job">
      <div><img src="assets/img/oaw.gif" alt="" /></div>
      <div>
        <div class="title-btn">
          <div class="title">
            <h4 class="name">Full-Stack Web Developer (m/w/d)</h4>
            <p>
              Österreichische Akademie der Wissenschaften - Vienna - Part-time -
              Junior - 2.3.2024
            </p>
          </div>
          <a href="https://www.karriere.at/jobs/7057852" target="new"
            ><button>To Offer</button></a
          >
        </div>
        <h5 class="hero-text">
          You will join an internationally networked team, pursuing research at
          the intersection between information and communication technology and
          humanities studies.
        </h5>
      </div>
    </div>

    <div class="spacer-long"></div>

    <div class="job">
      <div><img src="assets/img/strabag.jpg" alt="" /></div>
      <div>
        <div class="title-btn">
          <div class="title">
            <h4 class="name">Full Stack JavaScript Developer (m/w/d)</h4>
            <p>STRABAG SE - Vienna - Full-time - Senior - 2.3.2024</p>
          </div>
          <a href="https://www.karriere.at/jobs/7017868" target="new"
            ><button>To Offer</button></a
          >
        </div>
        <h5 class="hero-text">
          The group unit STRABAG Innovation & Digitalisation acts as an enabler
          for digitalisation and development projects. In close cooperation,
          more than 400 different innovation and digitalisation projects are
          driven forward.
        </h5>
      </div>
    </div>
  </div>
</div>
