<section class="hero-event">
    <!-- Your hero content goes here -->
</section>

<main>
    <div class="container">

        <div *ngFor="let event of events" class="holder">
            <div class="card">
                <div class="card-top">
                    <div class="card-top-img">
                        <img src="{{event.image}}" alt="{{ event.title }}">
                    </div>
                    <div class="card-top-info">
                        <!-- Add content for 'card-top-info' if needed -->
                    </div>
                </div>
            </div>
            <div class="card-bottom">
                <!-- Add content for 'card-bottom' if needed -->
            </div>
        </div>
    </div>
</main>