.hero-event {
    background-image: url(../../assets/img/MeetingHero.jpg);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.holder {
    margin-top: 4rem;
}

.card {
    height: 10rem;
    width: 100%;
    &-top{
        width: 100%;
        border: 1px solid lightgrey;
        border-radius: 20px;
        &-img {
            height: 100%;
            width: 20rem;
            img {
                border-top-left-radius: 20px;
                width: 100%;
            }
        }
    }
}
